version: "3.3"
services:
  nginx:
    image: nginx_msantos
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - "wordpress"
    ports:
      - "443:443"
      - "80:80"
    volumes:
    -  wpdata:/var/www/wordpress
    # volumes:
    # -  type: volume
    #    source: wpdata
    # -  type: bind
    #    source: ./srcs/data/wordpress
    #    target: /var/www/wordpress
    restart: always
    networks: 
      - default
  wordpress:
    image: wordpress_msantos
    container_name: wordpress
    build: ./requirements/wordpress
    depends_on:
      - "mariadb"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WP_LOGIN: msantos
      WP_PASS: msantospass
      WPU_1LOGIN: msantos2
      WPU_1PASS: msantospass2
      MARIA_LOGIN: msantos
      MARIA_PASS: msantospass
    volumes:
    -  wpdata:/var/www/wordpress
    # volumes:
    # -  type: bind
    #    source: ./srcs/data/wordpress
    #    target: /var/www/wordpress
    ports:
    - "9000:9000"
    restart: always
    networks: 
      - default
    tty: true
  mariadb:
    image: mariadb_msantos
    container_name: mariadb
    build: ./requirements/mariadb
    env_file: .env
    environment:
      WORDPRESS_DB_USER: wordpress
    volumes:
      - mdbdata:/var/lib/mysql
    ports:
    - "3006:3006"
    tty: true
    networks: 
      - default
    restart: always
volumes:
  wpdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/msantos-/data/wordpress
  mdbdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/msantos-/data/mdbdata